<h3>An Error occured while Processing your Request.
    The Support Team is Notified and we are working on it.</h3>

<h5>For farther Details Please Contact Us Support@Annaati.com</h5>
<hr />

@*<h3>Exception Details:</h3>
<div class="alert alert-danger">
    <h1>Exception Path</h1>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h1>Exception Message</h1>
    <hr />
    <p>@ViewBag.ErrorMessage</p>
</div>

<div class="alert alert-danger">
    <h1>Exception Stack Trace</h1>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>*@