@{
    ViewBag.Title = "Not Found";
}

<h2>@ViewBag.ErrorMessage</h2>

@*<h2>@ViewBag.Path</h2>

<h2>@ViewBag.QS</h2>*@
<hr />
<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">
    Click here to  Navigate Back to Home Page
</a>