<div class="text-center">
    <h2 class="text-danger">Access Denid</h2>
    <h6 class="text-danger">You don't have permission to view this Resource</h6>
    <img src="~/assets/images/accessdenied.png" height="300" width="300"/>
</div>